@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --main-bg: #ffffff;
    --second-bg: #fafafb;
    --txt-color: #455560;
    --txt-white: #fff;
    --main-color: #009485;
    --second-color: #007a6c;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --main-bg-light: #ffffff;
    --second-bg-light: #fafafb;
    --txt-color-light: #455560;
    --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --main-bg-dark: #2d2d2d;
    --second-bg-dark: #202020;
    --txt-color-dark: #bbbbbb;
    --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

    --main-color-blue: #349eff;
    --second-color-blue: #62b4ff;

    --main-color-red: #fb0b12;
    --second-color-red: #ff4a6b;

    --main-color-cyan: #10d4d2;
    --second-color-cyan: #2ae9e6;

    --main-color-green: #019707;
    --second-color-green: #4caf50;

    --main-color-orange: #d68102;
    --second-color-orange: #fca11a;

    --sidebar-width: 300px;
    --border-radius: 15px;
    --topnav-height: 110px;
    --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    --blue:#007bff !important;
    --indigo:#6610f2 !important;
    --purple:#6f42c1 !important;
    --pink:#e83e8c !important;
    --red:#dc3545 !important;
    --orange:#fd7e14 !important;
    --yellow:#ffc107 !important;
    --green:#28a745 !important;
    --teal:#20c997 !important;
    --cyan:#17a2b8 !important;
    --white:#fff !important;
    --gray:#6c757d !important;
    --gray-dark:#343a40 !important;
    --primary: #009485 !important;
    --secondary:#6c757d !important;
    --success:#28a745 !important;
    --info:#17a2b8 !important;
    --warning:#ffc107 !important;
    --danger:#dc3545 !important;
    --light:#f8f9fa !important;
    --dark:#343a40 !important;
    --breakpoint-xs:0 !important;
    --breakpoint-sm:576px !important;
    --breakpoint-md:768px !important;
    --breakpoint-lg:992px !important;
    --breakpoint-xl:1200px !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.7px;
}

a {
    text-decoration: none !important;
    color: unset;
}

.text-primary,
a:hover {
    color: var(--main-color) !important;
}


.btn {
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 14px;
}
.btn-sm{
    padding: 2px 5px;
    font-size: 13px;
    line-height: 14px;
    border-radius: 0.2rem;
    margin: 1px;
}
.btn-primary{
    background: var(--main-color);
    border: var(--second-color);
}
.btn-primary:hover{
    background-color: var(--second-color);
    border-color: var(--primary);
}
ul {
    list-style-type: none;
}

input {
    border: 2px solid transparent;
    outline: 0;
}

input:focus {
    border: 2px solid var(--main-color);
}

.page-header {
    margin-bottom: 40px;
    text-transform: capitalize;
    font-size: 25px;
}

.card {
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border: none !important;
}

